<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="css/leaflet.css"><link rel="stylesheet" href="css/L.Control.Locate.min.css">
        <link rel="stylesheet" href="css/qgis2web.css"><link rel="stylesheet" href="css/fontawesome-all.min.css">
		<link rel="stylesheet" href="css/leaflet-measure.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
		<link  href="/views/dist/datepicker.css" rel="stylesheet">
		<script src="/views/dist/datepicker.js"></script>
        <style>
        #map {
            /* width: 1244px; */
            height: 1312px;
		}
		body {
			position: relative;
			margin: 0;
		}
		.legend-color {
			width: 15px;
			height: 15px;
			display: inline-block;
			position: relative;
			top: 3px;
		}
		.datepicker {
			position: absolute;
			z-index: 10000000000000;
			margin: 10px;
			border: 3px solid rgba(255, 255, 255, 0.4);
			border-radius: 2px;
			background-color: rgba(255, 255, 255, 0.4);
		}
		#datepicker {
			width: 70px;
			padding: 5px;
			border: none;
			outline: none;
			border-radius: 3px;
		}
		#datepicker-btn {
			padding: 5px 10px;
			border: none;
			outline: none;
			border-radius: 3px;
			background-color: #6480DF;
			color: #fff;
			cursor: pointer;
			transition: .4s ease;
		}

		.leaflet-control-layers-overlays {
			height: 400px;
			overflow-y: scroll;
		}
		.leaflet-touch .leaflet-bar:first-child {
			margin-top: 50px;
		}

		.aqi_legend li,
		.no2_legend li,
		.so2_legend li,
		.o3_legend li,
		.pm10_legend li,
		.pm25_legend li  {
			list-style: none;
		}
		.aqi_legend i,
		.no2_legend i,
		.so2_legend i,
		.o3_legend i,
		.pm10_legend i,
		.pm25_legend i {
			width: 15px;
			height: 15px;
			display: inline-block;
			position: relative;
			top: 3px;
		}
		.aqi1 i {
			background-color: rgba(87,187,138,0.5);
		}

		.aqi2 i {
			background-color: rgba(176,190,110,0.5);
		}

		.aqi3 i {
			background-color: rgba(243,197,99,0.5);
		}

		.aqi4 i {
			background-color: rgba(233,162,104,0.5);
		}

		.aqi5 i {
			background-color: rgba(221,119,110,0.5);
		}
        </style>
        <title></title>
	</head>
	
    <body>
			<div class="datepicker">
					<input data-toggle="datepicker" id="datepicker" value="2018-11-02">
					<button id="datepicker-btn">OK</button>
			</div>
			
        <div id="map">
			
        </div>
        <script src="js/qgis2web_expressions.js"></script>
        <script src="js/leaflet.js"></script><script src="js/L.Control.Locate.min.js"></script>
        <script src="js/leaflet.rotatedMarker.js"></script>
        <script src="js/leaflet.pattern.js"></script>
        <script src="js/leaflet-hash.js"></script>
        <script src="js/Autolinker.min.js"></script>
        <script src="js/rbush.min.js"></script>
        <script src="js/labelgun.min.js"></script>
        <script src="js/labels.js"></script>
        <script src="js/leaflet-measure.js"></script>
		<!-- <script src="data/aqi_1.js"></script> -->
		<script src="/socket.io/socket.io.js"></script>
        <script>
			const socket = io.connect();
			$('[data-toggle="datepicker"]').datepicker({
				format: 'yyyy-mm-dd'
			});

			let date = document.getElementById('datepicker').value;

			socket.emit('get-aqi', date);
			socket.emit('get-no2', date);
			socket.emit('get-o3', date);
			socket.emit('get-so2', date);
			socket.emit('get-pm25', date);
			setTimeout(() => {
				socket.emit('get-pm10', date);
			}, 1500);
			

			var map = L.map('map', {
            zoomControl:true, maxZoom:28, minZoom:1
			}).fitBounds([[40.84331599884105,29.46787229246369],[50.516107293273876,33.22329732123129]]);

			document.getElementById('datepicker-btn').addEventListener('click', (evt) => {
				let date = document.getElementById('datepicker').value;
				socket.emit('get-aqi', date);
				socket.emit('get-no2', date);
				socket.emit('get-o3', date);
				socket.emit('get-so2', date);
				socket.emit('get-pm25', date);
				socket.emit('get-pm10', date);
			});

			var hash = new L.Hash(map);
			map.attributionControl.setPrefix('<a href="https://github.com/tomchadwin/qgis2web" target="_blank">qgis2web</a> &middot; <a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a>');
			L.control.locate({locateOptions: {maxZoom: 19}}).addTo(map);
			var measureControl = new L.Control.Measure({
				position: 'topleft',
				primaryLengthUnit: 'meters',
				secondaryLengthUnit: 'kilometers',
				primaryAreaUnit: 'sqmeters',
				secondaryAreaUnit: 'hectares'
			});
			measureControl.addTo(map);
			document.getElementsByClassName('leaflet-control-measure-toggle')[0]
			.innerHTML = '';
			document.getElementsByClassName('leaflet-control-measure-toggle')[0]
			.className += ' fas fa-ruler';
			var layer_GoogleRoad_0 = L.tileLayer('https://mt1.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
				opacity: 1.0
			});
			layer_GoogleRoad_0.addTo(map);
			map.addLayer(layer_GoogleRoad_0);
			var layer_aqi_1;
			var layer_no2;
			var layer_so2;
			var layer_o3;
			var layer_pm25;
			var layer_pm10;
			var legend;

			socket.on('aqi', (json_aqi_1) => {
				if (layer_aqi_1)
					layer_aqi_1.clearLayers();
				if (legend)
					legend.remove();
				
        		var bounds_group = new L.featureGroup([]);
				function setBounds() {
				}

				map.createPane('pane_aqi_1');
				map.getPane('pane_aqi_1').style.zIndex = 401;
				map.getPane('pane_aqi_1').style['mix-blend-mode'] = 'normal';

				layer_aqi_1 = new L.geoJson(json_aqi_1, {
					attribution: '',
					// pane: 'pane_aqi_1',
					onEachFeature: pop_aqi_1,
					style: style_aqi_1_0,
				});
				bounds_group.addLayer(layer_aqi_1);
				map.addLayer(layer_aqi_1);
			
				// legend = L.control.layers({'Google Street': layer_GoogleRoad_0},{'AQI': layer_aqi_1});
				// legend.addTo(map);
			});

			socket.on('no2', (no2) => {
				if (layer_no2)
					layer_no2.clearLayers();
				if (legend)
					legend.remove();
				
        		var bounds_group = new L.featureGroup([]);
				function setBounds() {
				}

				map.createPane('pane_no2_1_0');
				map.getPane('pane_no2_1_0').style.zIndex = 401;
				map.getPane('pane_no2_1_0').style['mix-blend-mode'] = 'normal';

				layer_no2 = new L.geoJson(no2, {
					attribution: '',
					// pane: 'pane_aqi_1',
					onEachFeature: pop_no2,
					style: style_no2_1_0_0,
				});
				bounds_group.addLayer(layer_no2);
				//map.addLayer(layer_no2);
			
				// legend = L.control.layers({'Google Street': layer_GoogleRoad_0},{'AQI': layer_aqi_1, 'NO2': layer_no2}, {collapsed: false});
				// legend.addTo(map);
				// document.getElementsByClassName('leaflet-control-layers-selector')[2].checked = false;
			});

			socket.on('so2', (so2) => {
				if (layer_so2)
					layer_so2.clearLayers();
				if (legend)
					legend.remove();
				
        		var bounds_group = new L.featureGroup([]);
				function setBounds() {
				}

				map.createPane('pane_so2_1outPolygon_0');
				map.getPane('pane_so2_1outPolygon_0').style.zIndex = 401;
				map.getPane('pane_so2_1outPolygon_0').style['mix-blend-mode'] = 'normal';

				layer_so2 = new L.geoJson(so2, {
					attribution: '',
					// pane: 'pane_aqi_1',
					onEachFeature: pop_so2,
					style: style_so2_1outPolygon_0_0,
				});
				bounds_group.addLayer(layer_so2);
				//map.addLayer(layer_no2);
			
				// legend = L.control.layers({'Google Street': layer_GoogleRoad_0},{'AQI': layer_aqi_1, 'NO2': layer_no2}, {collapsed: false});
				// legend.addTo(map);
				// document.getElementsByClassName('leaflet-control-layers-selector')[2].checked = false;
			});

			socket.on('o3', (o3) => {
				if (layer_o3)
					layer_o3.clearLayers();
				if (legend)
					legend.remove();
				
        		var bounds_group = new L.featureGroup([]);
				function setBounds() {
				}

				map.createPane('pane_o3_5outPolygon_0');
				map.getPane('pane_o3_5outPolygon_0').style.zIndex = 401;
				map.getPane('pane_o3_5outPolygon_0').style['mix-blend-mode'] = 'normal';

				layer_o3 = new L.geoJson(o3, {
					attribution: '',
					// pane: 'pane_aqi_1',
					onEachFeature: pop_o3,
					style: style_o3_5outPolygon_0_0,
				});
				bounds_group.addLayer(layer_o3);
				//map.addLayer(layer_no2);
			
				// legend = L.control.layers({'Google Street': layer_GoogleRoad_0},{'AQI': layer_aqi_1, 'NO2': layer_no2}, {collapsed: false});
				// legend.addTo(map);
				// document.getElementsByClassName('leaflet-control-layers-selector')[2].checked = false;
			});

			socket.on('pm25', (pm25) => {
				if (layer_pm25)
					layer_pm25.clearLayers();
				if (legend)
					legend.remove();
				
        		var bounds_group = new L.featureGroup([]);
				function setBounds() {
				}

				map.createPane('pane_pm25');
				map.getPane('pane_pm25').style.zIndex = 401;
				map.getPane('pane_pm25').style['mix-blend-mode'] = 'normal';

				layer_pm25 = new L.geoJson(pm25, {
					attribution: '',
					// pane: 'pane_aqi_1',
					onEachFeature: pop_pm25,
					style: style_pm25,
				});
				bounds_group.addLayer(layer_pm25);
				//map.addLayer(layer_no2);
			
				// legend = L.control.layers({'Google Street': layer_GoogleRoad_0},{'AQI': layer_aqi_1, 'NO2': layer_no2}, {collapsed: false});
				// legend.addTo(map);
				// document.getElementsByClassName('leaflet-control-layers-selector')[2].checked = false;
			});

			socket.on('pm10', (pm10) => {
				if (layer_pm10)
					layer_pm10.clearLayers();
				if (legend)
					legend.remove();
				
        		var bounds_group = new L.featureGroup([]);
				function setBounds() {
				}

				map.createPane('pane_pm10');
				map.getPane('pane_pm10').style.zIndex = 401;
				map.getPane('pane_pm10').style['mix-blend-mode'] = 'normal';

				layer_pm10 = new L.geoJson(pm10, {
					attribution: '',
					// pane: 'pane_aqi_1',
					onEachFeature: pop_pm10,
					style: style_pm10,
				});
				bounds_group.addLayer(layer_pm10);
				//map.addLayer(layer_no2);
			
				legend = L.control.layers({'Google Street': layer_GoogleRoad_0},{
					'AQI <div class="aqi_legend"><li class="aqi1"><i></i> 1</li><li class="aqi2"><i></i> 2</li><li class="aqi3"><i></i> 3</li><li class="aqi4"><i></i> 4</li><li class="aqi5"><i></i> 5</li></div>': layer_aqi_1,
					'NO2 (µg/m2) <div class="no2_legend"><li class="no21"><i></i> 0-40</li><li class="no22"><i></i> 40-100</li><li class="no23"><i></i> 100-200</li><li class="no24"><i></i> 200-400</li><li class="no25"><i></i> 400-1000</li></div>': layer_no2,
					'SO2 (µg/m2) <div class="so2_legend"><li class="so21"><i></i> 1</li><li class="so22"><i></i> 2</li><li class="so23"><i></i> 3</li><li class="so24"><i></i> 4</li><li class="so25"><i></i> 5</li></div>': layer_so2,
					'O3 (µg/m2) <div class="o3_legend"><li class="o31"><i></i> 1</li><li class="o32"><i></i> 2</li><li class="o33"><i></i> 3</li><li class="o34"><i></i> 4</li><li class="o35"><i></i> 5</li></div>': layer_o3,
					'PM2.5 (µg/m3) <div class="pm25_legend"><li class="pm251"><i></i> 0-10</li><li class="pm252"><i></i> 10-20</li><li class="pm253"><i></i> 20-25</li><li class="pm254"><i></i> 25-50</li><li class="pm255"><i></i> >50</li></div>': layer_pm25,
					'PM10 (µg/m3) <div class="pm10_legend"><li class="pm101"><i></i> 0-20</li><li class="pm102"><i></i> 20-35</li><li class="pm103"><i></i> 35-50</li><li class="pm104"><i></i> 50-100</li><li class="pm105"><i></i> >100</li></div>': layer_pm10
				}, {collapsed: false});
				legend.addTo(map);
				document.getElementsByClassName('leaflet-control-layers-selector')[2].checked = false;
				document.getElementsByClassName('leaflet-control-layers-selector')[3].checked = false;
				document.getElementsByClassName('leaflet-control-layers-selector')[4].checked = false;
				document.getElementsByClassName('leaflet-control-layers-selector')[5].checked = false;
				document.getElementsByClassName('leaflet-control-layers-selector')[6].checked = false;
			});

			function style_o3_5outPolygon_0_0(feature) {
				if (feature.properties['o3'] >= 0 && feature.properties['o3'] <= 8 ) {
					return {
					pane: 'pane_o3_5outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: '#FAC3C9',
				}
				}
				if (feature.properties['o3'] > 8 && feature.properties['o3'] <= 12 ) {
					return {
					pane: 'pane_o3_5outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: '#F9AFB8',
				}
				}
				if (feature.properties['o3'] > 12 && feature.properties['o3'] <= 18 ) {
					return {
					pane: 'pane_o3_5outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: '#F68794',
				}
				}
				if (feature.properties['o3'] > 18 && feature.properties['o3'] <= 24 ) {
					return {
					pane: 'pane_o3_5outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: '#F35F71',
				}
				}
				if (feature.properties['o3'] > 24 && feature.properties['o3']) {
					return {
					pane: 'pane_o3_5outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: '#EF233C',
				}
				}
			}
		
			function style_so2_1outPolygon_0_0(feature) {
				if (feature.properties['so2'] >= 0 && feature.properties['so2'] <= 1.700000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(254,235,226,0.5)',
				}
				}
				if (feature.properties['so2'] >= 1.700000 && feature.properties['so2'] <= 2.400000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(253,211,208,0.5)',
				}
				}
				if (feature.properties['so2'] >= 2.400000 && feature.properties['so2'] <= 3.100000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(252,186,190,0.5)',
				}
				}
				if (feature.properties['so2'] >= 3.100000 && feature.properties['so2'] <= 3.800000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(250,155,177,0.5)',
				}
				}
				if (feature.properties['so2'] >= 3.800000 && feature.properties['so2'] <= 4.500000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(248,121,166,0.5)',
				}
				}
				if (feature.properties['so2'] >= 4.500000 && feature.properties['so2'] <= 5.200000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(236,87,156,0.5)',
				}
				}
				if (feature.properties['so2'] >= 5.200000 && feature.properties['so2'] <= 5.900000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(214,52,146,0.5)',
				}
				}
				if (feature.properties['so2'] >= 5.900000 && feature.properties['so2'] <= 6.600000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(189,24,136,0.5)',
				}
				}
				if (feature.properties['so2'] >= 6.600000 && feature.properties['so2'] <= 7.300000 ) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(155,12,127,0.5)',
				}
				}
				if (feature.properties['so2'] >= 7.300000) {
					return {
					pane: 'pane_so2_1outPolygon_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(122,1,119,0.5)',
				}
				}
			}

			function style_no2_1_0_0(feature) {
				if (feature.properties['no2'] >= 0 && feature.properties['no2'] <= 4 ) {
					return {
					pane: 'pane_no2_1_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(255,245,240,0.7)',
				}
				}
				if (feature.properties['no2'] > 4 && feature.properties['no2'] <= 10 ) {
					return {
					pane: 'pane_no2_1_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(254,211,205,0.7)',
				}
				}
				if (feature.properties['no2'] > 10 && feature.properties['no2'] <= 20 ) {
					return {
					pane: 'pane_no2_1_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(187,87,62,0.7)',
				}
				}
				if (feature.properties['no2'] > 20 && feature.properties['no2'] <= 40 ) {
					return {
					pane: 'pane_no2_1_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(222,41,36,0.7)',
				}
				}
				if (feature.properties['no2'] > 40) {
					return {
					pane: 'pane_no2_1_0',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(103,0,13,0.7)',
				}
				}
			}

			function style_aqi_1_0(feature) {
				switch(String(feature.properties['aqi'])) {
					case '1':
						return {
					pane: 'pane_aqi_1',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(87,187,138,0.5)',
				}
						break;
					case '2':
						return {
					pane: 'pane_aqi_1',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(176,190,110,0.5)',
				}
						break;
					case '3':
						return {
					pane: 'pane_aqi_1',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(243,197,99,0.5)',
				}
						break;
					case '4':
						return {
					pane: 'pane_aqi_1',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(233,162,104,0.5)',
				}
						break;
					case '5':
						return {
					pane: 'pane_aqi_1',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(221,119,110,0.5)',
				}
						break;
				}
		}			

			function style_pm25(feature) {
				if (feature.properties['pm25'] >= 0 && feature.properties['pm25'] <= 10 ) {
					return {
					pane: 'pane_pm25',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(87,187,138,0.5)',
				}
				}
				if (feature.properties['pm25'] > 10 && feature.properties['pm25'] <= 20 ) {
					return {
					pane: 'pane_pm25',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(176,190,110,0.5)',
				}
				}
				if (feature.properties['pm25'] > 20 && feature.properties['pm25'] <= 25 ) {
					return {
					pane: 'pane_pm25',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(243,197,99,0.5)',
				}
				}
				if (feature.properties['pm25'] > 25 && feature.properties['pm25'] <= 50 ) {
					return {
					pane: 'pane_pm25',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(233,162,104,0.5)',
				}
				}
				if (feature.properties['pm25'] > 50) {
					return {
					pane: 'pane_pm25',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(221,119,110,0.5)',
				}
				}
			}

			function style_pm10(feature) {
				if (feature.properties['pm10'] >= 0 && feature.properties['pm10'] <= 20 ) {
					return {
					pane: 'pane_pm10',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(87,187,138,0.5)',
				}
				}
				if (feature.properties['pm10'] > 20 && feature.properties['pm10'] <= 35 ) {
					return {
					pane: 'pane_pm10',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(176,190,110,0.5)',
				}
				}
				if (feature.properties['pm10'] > 35 && feature.properties['pm10'] <= 50 ) {
					return {
					pane: 'pane_pm10',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(243,197,99,0.5)',
				}
				}
				if (feature.properties['pm10'] > 50 && feature.properties['pm10'] <= 100 ) {
					return {
					pane: 'pane_pm10',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(233,162,104,0.5)',
				}
				}
				if (feature.properties['pm10'] > 100) {
					return {
					pane: 'pane_pm10',
					stroke: false, 
					fill: true,
					fillOpacity: 1,
					fillColor: 'rgba(221,119,110,0.5)',
				}
				}
			}

			function getColor(d) {
				return d == 1 ? 'rgba(87,187,138,0.5)' :
					d == 2  ? 'rgba(176,190,110,0.5)' :
					d == 3  ? 'rgba(243,197,99,0.5)' :
					d == 4  ? 'rgba(233,162,104,0.5)' : 'rgba(221,119,110,0.5)';
			}
			

		function pop_aqi_1(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
							<th scope="row">pm_sum (µg/m3)</th><td colspan="2">' + (feature.properties['pm_sum'] !== null ? Autolinker.link(String(feature.properties['pm_sum'])) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <th scope="row">aqi</th>\
                        <td>' + (feature.properties['aqi'] !== null ? Autolinker.link(String(feature.properties['aqi'])) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
		}
		
		function pop_no2(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
							<th scope="row">NO2 (µg/m2)</th><td colspan="2">' + (feature.properties['no2'] !== null ? Autolinker.link(String(feature.properties['no2']*10)) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
		}
		
		function pop_so2(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
							<th scope="row">SO2 (µg/m2)</th><td colspan="2">' + (feature.properties['so2'] !== null ? Autolinker.link(String(feature.properties['so2'])) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
		}
		
		function pop_o3(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
							<th scope="row">O3 (µg/m2)</th><td colspan="2">' + (feature.properties['o3'] !== null ? Autolinker.link(String(feature.properties['o3'])) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
		}
		
		function pop_pm10(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
							<th scope="row">PM10 (µg/m3)</th><td colspan="2">' + (feature.properties['pm10'] !== null ? Autolinker.link(String(feature.properties['pm10'])) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
		}
		
		function pop_pm25(feature, layer) {
            var popupContent = '<table>\
                    <tr>\
							<th scope="row">PM2.5 (µg/m3)</th><td colspan="2">' + (feature.properties['pm25'] !== null ? Autolinker.link(String(feature.properties['pm25'])) : '') + '</td>\
                    </tr>\
                </table>';
            layer.bindPopup(popupContent, {maxHeight: 400});
        }
       
        </script>
    </body>
</html>
