<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset = "utf-8">
		<meta name = "keywords" content = "">
		<meta name = "description" content= "">
		<link href = "./temp_style.css" rel = "stylesheet">
	</head>
	<body>	
		<header class = "main-header grid">
			<div class = "header-content grid">
				<div class = "grid">
					<h2>Kyiv Smart City</h2>
				</div>
				
				<div class = "header-buttons grid">
					
					<a href = "#" class = "button-hed">Login</a>
				</div>
			</div>
		</header>
		<section class = "content-section grid" style = "background-image: url(temp1.jpg);">
			<div class = "text-content grid">
				<h1>Air Quality Monitoring Service</h1>
				<p>Listening to the pulse of the planet</p>
				<a href = "/" class = "button-cont">Try it now!</a>
			</div>
			<div class = "map grid" style = "background-image: url(temp4.png);background-size: cover;background-position: -130px;"></div>
		</section>
		<footer>
		</footer>
	</body>
</html>
